@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
  width: 20px;
}

html::-webkit-scrollbar-track {
  background:  linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(7, 0, 211, 1) 100%);
}

html::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0 0 0 100vh black;
}
